<h1>Welcome to the catch-all page</h1>

<p>The page you searched for is not around</p>

<p>Heres a picture of Shinkansen in Japan</p>

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/JR_East_Shinkansen_lineup_at_Niigata_Depot_201210.jpg/2560px-JR_East_Shinkansen_lineup_at_Niigata_Depot_201210.jpg">